@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #1a2a6c, #631473, #718da0);
    background-size: 400% 400%;
    animation: gradientBG 60s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hover\:shadow-teal-400:hover {
    box-shadow: 0 0 10px 2px rgba(56, 178, 172, 0.75);
}

main {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.about-me,
.skills,
.projects,
.contact {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
}

.about-me,
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shrink.shrunk {
    width: 70%;
    /* Adjust as needed */
}

#vertical-image.visible {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 60vh;
    /* Full height of the viewport */
}